{% comment %} {% if template.name == 'product' %}
    <div class="slide-wrapper">
        {% if section.settings.title != blank %}
        <div class="slide--title">
            <h2>{{section.settings.title}}</h2>
        </div>
        {% endif %}
        <div class="slide-text">
            {% for slide in product.metafields.slick.picked_image.value %}
                <div class="slide-item">
                    <div class="slide-image">
                        <img srcset="{%- if p.featured_image.width >= 165 -%}{{ p.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                        {%- if p.featured_image.width >= 360 -%}{{ p.featured_image | image_url: width: 360 }} 360w,{%- endif -%}
                        {%- if p.featured_image.width >= 535 -%}{{ p.featured_image | image_url: width: 535 }} 535w,{%- endif -%}
                        {%- if p.featured_image.width >= 750 -%}{{ p.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
                        {%- if p.featured_image.width >= 1070 -%}{{ p.featured_image | image_url: width: 1070 }} 1070w,{%- endif -%}
                        {%- if p.featured_image.width >= 1500 -%}{{ p.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                        {{ p.featured_image | image_url }} {{ p.featured_image.width }}w"
                    src="{{ p.featured_image | image_url: width: 1500 }}"
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                    alt="{{ p.featured_image.alt | escape }}"
                    loading="lazy"
                    width="{{ p.featured_image.width }}"
                    height="{{ p.featured_image.height }}"
                    >
                    </div>
                    <div class="slide-info">
                        <span class="product-title">
                            {{sldie.title}} |
                        </span>
                        <span class="product-price">
                            {% render 'price' product:slide %}
                        </span>
                    </div>
                </div>
            {% endfor %}    
        </div>
    </div>    
{% endif %} {% endcomment %}
{% comment %} <script type="text/javascript" src="{{ 'custom-product-recommendation.js' | asset_url }}" defer="defer"></script> {% endcomment %}
{% comment %} {% schema %}
    {
        "name": "",
        "class": "",
        "settings": [
        
        ]
    }
{% endschema %} {% endcomment %}

{% comment %} {% schema %}
{
    "name": "Picked products",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        }
    ],
    "presets": [
        {
            "name": "Picked products"
        }
    ]
}
    
{% endschema %} {% endcomment %}