<style>
    #section--{{section.id}}{
        padding-top:{{section.settings.padding_top}}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
</style>
{{ 'section-banner.scss' | asset_url | stylesheet_tag }}

<section id="section--{{section.id }}">
    <div class="custom-container">
            {% if section.settings.text_position !=blank %}
                {% if section.settings.text_position == 'left' %}
                    <div class="landing-wrapper landing-wrapper-left">
                {% elsif section.settings.text_position == 'center' %}
                <div class="landing-wrapper landing-wrapper-center">
                {% else %}
                    <div class="landing-wrapper landing-wrapper-right">
                {%endif%}

            {% if section.settings.banner_bg != blank %}
                <img class="image-bg" src="{{section.settings.banner_bg | img_url: '3000x2000'}}" alt="{{block.settings.image.alt}}">
            {% endif %}
                <div class="text-content">
                    {% if section.settings.title != blank %}
                        <h2 class="title">{{ section.settings.title }}</h2>
                    {% endif %}
                    {% if section.settings.content !=blank %}
                        <p class="content">{{ section.settings.content }}</p>                        
                    {% endif %}
                    {% if section.settings.btn_text %}
                        <a class="button" href="{{section.settings.btn_link}}" style="background-color:{{section.settings.btn_bg}}">{{section.settings.btn_text}}</a>
                    {% endif %}
                </div>
            {% endif %}
            </div>
        
    </div>
    
    <div class="slide-option">
        <div class="container">
            <div id="infinite" class="highway-slider">
                <div class="container highway-barrier">
                    <ul class="highway-lane text-carou">
                        <li class="highway-car"><a href="#"><span class="text1">OBSERVER</span></a></li>
                        <li class="highway-car"><a href="#"><span class="text2">VOGLE</span></a></li>
                        <li class="highway-car"><a href="#"><span class="text3">goop</span></a></li>
                        <li class="highway-car"><a href="#"><span class="text4">OBSERVER</span></a></li>
                        
                        <li class="highway-car"><a href="#"><span class="text1">OBSERVER</span></a></li>
                        <li class="highway-car"><a href="#"><span class="text2">VOGLE</span></a></li>
                        <li class="highway-car"><a href="#"><span class="text3">goop</span></a></li>
                        <li class="highway-car"><a href="#"><span class="text4">OBSERVER</span></a></li>
                        
                        <li class="highway-car"><a href="#"><span class="text1">OBSERVER</span></a></li>
                        <li class="highway-car"><a href="#"><span class="text2">VOGLE</span></a></li>
                        <li class="highway-car"><a href="#"><span class="text3">goop</span></a></li>
                        <li class="highway-car"><a href="#"><span class="text4">OBSERVER</span></a></li>
                        
                    </ul>
                </div>
            </div>
        </div>    
    </div>
</section>





{% schema %}
    {
        "name": "Landing Banner",
        "settings": [
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 100,
                "step": 10,
                "unit": "px",
                "label": "Padding Top",
                "default": 0
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 100,
                "step": 10,
                "unit": "px",
                "label": "Padding Bottom",
                "default": 0
            },
            {
                "type": "image_picker",
                "id": "banner_bg",
                "label": "Image"
            },
            {
                "type": "select",
                "id": "text_position",
                "label": "Text Position",
                "options": [
                    {
                    "value": "left",
                    "label": "Left"
                    },
                    {
                    "value": "center",
                    "label": "Center"
                    },
                    {
                    "value": "right",
                    "label": "right"
                    }
                ],
                "default": "center"
            },
            {
                "type": "header",
                "content": "TEXT"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "default": "Holiday Sale"
            },
            {
                "type": "text",
                "id": "content",
                "label": "Text"
            },
            {
                "type": "text",
                "id": "btn_text",
                "label": "Button Text",
                "default": "shop now"
            },
            {
                "type": "url",
                "id": "btn_link",
                "label": "Link"
            },
            {
                "type": "color",
                "id": "btn_bg",
                "label": "Button Color"
            }
        ],
        "presets":[
            {
                "name":"Landing banner"
            }
        ]
    }
{% endschema %}
