<section id="section--{{section.id}}">
    <div class="hero-slider--wrapper" id="section-{{section.id}}">
        {% for block in section.blocks %}
            <div class="hero-slider--item block--{{block.id}}">
                {% if block.settings.image != blank %}
                    <img class="img--desktop" src="{{block.settings.image | img_url: '3000x2000'}}" alt="{{block.settings.image.alt}}">
                {% endif %}
                {% if block.settings.image_mobile != blank %}
                    <img class="img--mobile" src="{{block.settings.image_mobile | img_url: '400x500'}}" alt="{{block.settings.image_mobile.alt}}">
                {% endif %}
                <div class="text--wrapper">
                    {% if block.settings.title != blank %}
                        <p class="title" style="color: {{block.settings.text-color}};" data-mobile-color>
                            {{block.settings.title}}
                        </p>
                    {% endif %}
                    {% if block.settings.subtitle != blank %}
                        <p class="subtitle" style="color: {{block.settings.text-color}};">
                            {{block.settings.subtitle}}
                        </p>
                    {% endif %}
                    {% if block.settings.btn_text %}
                        <a class="btn" style="background-color:{{block.settings.btn_color}}" href="{{block.settings.btn_url}}">{{block.settings.btn_text}}</a>                    
                    {% endif %}      
                </div>
            </div>
        {% endfor %}
        
    </div>
    
</section>

{{ 'section-hero-slider.css' | asset_url | stylesheet_tag }}

{%- style -%}

{%- for block in section.blocks -%}
    {%- case block.settings.text_position -%}
        {%- when 'top_left' -%}
            .hero-slider--wrapper .block--{{block.id}} .text--wrapper 
            {
                top: 10%;
                left: 10%;
                right: unset;
                bottom: unset;
                transform: unset;
            }   
        {%- when 'top_center' -%}
            .hero-slider--wrapper .block--{{block.id}} .text--wrapper 
            {
                top: 10%;
                left: 50%;
                right: unset;
                bottom: unset;
                transform: unset;
            }
        {%- when 'top_right' -%}
            .hero-slider--wrapper .block--{{block.id}} .text--wrapper 
            {
                top: 10%;
                left: unset;
                right: 10%;
                bottom: unset;
                transform: unset;
            }
        {%- when 'middle_left' -%}
            .hero-slider--wrapper .block--{{block.id}} .text--wrapper 
            {
                top: 50%;
                left: 10%;
                right: unset;
                bottom: unset;
            }
        {%- when 'middle_center' -%}
            .hero-slider--wrapper .block--{{block.id}} .text--wrapper 
            {
                top: 50%;
                left: 50%;
                right: unset;
                bottom: unset;
            }
        {%- when 'middle_right' -%}
            .hero-slider--wrapper .block--{{block.id}} .text--wrapper 
            {
                top: 50%;
                left: unset;
                right: 10%;
                bottom: unset;
                transform: unset;
            }
        {%- when 'bottom_left' -%}
            .hero-slider--wrapper .block--{{block.id}} .text--wrapper 
            {
                top: unset;
                left: 10%;
                right: unset;
                bottom: 5%;
                transform: unset;
            }
            {%- when 'bottom_center' -%}
                .hero-slider--wrapper .block--{{block.id}} .text--wrapper 
                {
                    top: unset;
                    left: 50%;
                    right: unset;
                    bottom: 5%;
                    transform: unset;
                }
            {%- when 'bottom_right' -%}
                .hero-slider--wrapper .block--{{block.id}} .text--wrapper 
                {
                    top: unset;
                    left: unset;
                    right: 10%;
                    bottom: 5%;
                    transform: unset;
                }   
    {%- endcase -%}
    @media(max-width:767px){

        {% if forloop.index == 2 %}
            {% comment %} ['data-mobile-color'].data('title') {% endcomment %}
            .hero-slider--wrapper .text--wrapper .title {
                color: #000;
            }
        {% endif %}
        .hero-slider--wrapper .block--{{block.id}} .text--wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            right: unset;
            position: relative;
            top: unset;
            left: unset;
            transform: unset;
            padding: 16px 0 35px;
            background-color: #EFEFEF;
        }
    }
{%- endfor -%} 
#section-{{section.id}} .slick-dots {
    display:none;
} 
#section-{{section.id}} {
    margin-top: {{ section.settings.margin_top}}px;
    margin-bottom: {{ section.settings.margin_bottom}}px;
}

{%- endstyle -%}

<script src="{{ 'section-hero-slider.js' | asset_url }}" defer="defer"></script>


{% schema %}
    {
        "name": "Hero slider",
        "class": "hero-slider",
        "settings" :[
           
                {
                    "type": "range",
                    "id": "margin_top",
                    "min": 0,
                    "max": 60,
                    "step": 10,
                    "unit": "px",
                    "label": "Margin top",
                    "default": 0
                },
                {
                    "type": "range",
                    "id": "margin_bottom",
                    "min": 0,
                    "max": 60,
                    "step": 10,
                    "unit": "px",
                    "label": "Margin bottom",
                    "default": 0
                }
           
        ],
        "blocks": [
            {
                "type": "slider",
                "name": "hero",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image on desktop"
                    },
                    {
                        "type": "image_picker",
                        "id": "image_mobile",
                        "label": "Image on mobile"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "text",
                        "id": "subtitle",
                        "label": "Subtitle"
                    },
                    {
                        "type": "text",
                        "id": "btn_text",
                        "label": "Button text",
                        "default": "Shop now"
                    },
                    {
                        "type": "url",
                        "id": "btn_url",
                        "label": "Button url"
                    },
                    {
                        "type": "color",
                        "id": "text-color",
                        "label": "Color"
                    },
                    {
                        "type": "color",
                        "id": "btn_color",
                        "label": "Button color",
                        "default": "#000000"
                    },
                    {
                        "type": "select",
                        "id": "text_position",
                        "label": "Text position",
                        "options": [
                            {
                                "group": "position",
                                "value": "top_left",
                                "label": "Top left"
                            },
                            {
                                "group": "position",
                                "value": "top_center",
                                "label": "Top center"
                            },
                            {
                                "group": "position",
                                "value": "top_right",
                                "label": "Top right"
                            },
                            {
                                "group": "position",
                                "value": "middle_left",
                                "label": "Middle left"
                            },
                            {
                                "group": "position",
                                "value": "middle_center",
                                "label": "Middle center"
                            },
                            {
                                "group": "position",
                                "value": "middle_right",
                                "label": "Middle right"
                            },
                            {
                                "group": "position",
                                "value": "bottom_left",
                                "label": "Bottom left"
                            },
                            {
                                "group": "position",
                                "value": "bottom_center",
                                "label": "Bottom center"
                            },
                            {
                                "group": "position",
                                "value": "bottom_right",
                                "label": "Bottom right"
                            }
                        ]
                    }                    
                ]
            }
        ],
        "presets": [
            {
                "name": "Hero slider"
            }
        ]
    }
    
{% endschema %}
