<section id="section--{{section.id}}">
    <div class="password-wrapper">
        <div class="password">
            <div class="title">
            <h2> Your password: </h2>
            </div>
            <input class="password_result" value="{% if section.settings.password != blank %}{{section.settings.password}}{% endif %}">
        </div> 
        <div class="url">
            <div class="text">  
                <h2 class="link-title"> Next Page link: </h2>
            </div>
            <input class="link_result" value="{% if section.settings.link != blank %}{{section.settings.link}}{% endif %}">
        </div>
    </div>


    {% comment %} modal {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Button trigger modal -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            {% if section.settings.modal_back_title != blank %}
                <a class="back" {% if section.settings.modal_back_link != blank %} href="{{ section.settings.modal_back_link }}" {% endif %}>< {{ section.settings.modal_back_title }} </a>
            {% endif %}           
          {% comment %} <h5 class="modal-title" id="exampleModalLongTitle">{{ section.settings.modal_title }}</h5> {% endcomment %}
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="image">
                {% if section.settings.modal_title != blank %}
                    <h2> {{ section.settings.modal_title }} </h2>
                {% endif %}
                {% if section.settings.desk_top_image != blank %}
                    <img class="desk-top-image" src="{{section.settings.desk_top_image | img_url: '500x'}}">
                {% endif %}
                {% if section.settings.mobile_image != blank %}
                    <img class="mobile-image" src="{{section.settings.mobile_image | img_url: '500x'}}">
                {% endif %}
            </div>
            <div class="input_text">
                <div class="text-up">
                {% if section.settings.input_text_left != blank %}
                    <div class="input-text-left">{{ section.settings.input_text_left }}</div>
                {% endif %}
                <div class="btn_group">
                    <input type="password" class="password_text" >
                    <button type="button" class="btn btn-outline-dark confirm">GO</button>
                </div>
            </div>
                <div class="text-bottom">
                    {% if section.settings.input_text_bottom != blank %}
                        <div class="input-text-bottom">{{ section.settings.input_text_bottom }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
    

</section>

{{ 'sec-password.css' | asset_url | stylesheet_tag }}
<script src="{{ 'sec-password.js' | asset_url }}" defer="defer"></script>

{% schema %}
    {
        "name": "Password",
        "class": "password",
        "settings": [
            {
                "type": "text",
                "id": "password",
                "label": "Password",
                "info": "You set password",
                "placeholder": "password"
            },
            {
                "type": "url",
                "id": "link",
                "label": "Link"
            },
            {
                "type": "url",
                "id": "modal_back_link",
                "label": "Back Link"
            },
            {
                "type": "text",
                "id": "modal_back_title",
                "label": "Back Title"
            },
            {
                "type": "text",
                "id": "modal_title",
                "label": "Modal Title"
            },
            {
                "type": "image_picker",
                "id": "desk_top_image",
                "label": "Desk top Image"
            },
            {
                "type": "image_picker",
                "id": "mobile_image",
                "label": "Mobile Image"
            },
            {
                "type": "text",
                "id": "input_text_left",
                "label": "Left Text "
            },
            {
                "type": "text",
                "id": "input_text_bottom",
                "label": "Bottom Text"
            }
        ],
        "presets":[
            {
                "name": "Password"
            }
        ]
    }
{% endschema %}
